* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.container {
  background-color: rgba(100, 201, 154);
  padding: 20px;
  margin: 50px auto;
  border: 2px solid white;
  display: grid;
  width: 70%;
}

.splash {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0);
  transition: all ease-in-out 600ms;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.splash-header {
  height: 90%;
  color: white;
  font-family: consolas;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
